@model decimal
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Exam</title>
</head>
<body>
    <div>
        Total Exam value is $@Model
    </div>
</body>
</html>
