
/* 16.08.21 컨트롤 유효성검사 디자인 적용.*/
.field-validation-error {
    color:#f00;
}
.field-validation-valid {
    display:none;
}
.input-validation-error {
    border: 1px solid #f00; background-color: #fee;
}
.validation-summary-errors {
    font-weight:bold; color:#f00;
}
.validation-summary-valid {
    display:none;
}

/* 16.08.21 페이지 style 적용.*/
.btn a { color:white; text-decoration:none; }
body { background-color:#f1f1f1; }